<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.eugene.sumarry.dynamic.mul.datasource.dao.Student2Dao">

    <resultMap type="Student2" id="student2Map">
        <id column="student_id" property="studentId"/>
        <result column="student_name" property="studentName"/>
    </resultMap>

    <sql id="fields">
        student_id, student_name
    </sql>

    <select id="list" parameterType="map" resultMap="student2Map">
        SELECT
        <include refid="fields"/>
        FROM student2
    </select>

    <insert id="insert" parameterType="Student2">
        INSERT INTO student2
        (
            student_name
        )
        VALUES
        (
            #{studentName}
        )

    </insert>

    <update id="update" parameterType="Student2" >
        UPDATE student2 SET student_name = #{studentName} WHERE student_id = #{studentId}
    </update>

</mapper>